# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
secrets.yml

# node.js / yarn
node_modules
package-lock.json
yarn.lock
.parcel-cache
dist

# other
eclipse
run
